.generalnotification-icon6 {
  position: absolute;
  top: 2.7px;
  left: 0;
  width: 28.4px;
  height: 29.3px;
}
.number24 {
  position: relative;
  line-height: 20px;
}
.badge6 {
  width: 18px;
  border-radius: var(--br-81xl);
  background-color: var(--light-danger-danger-6);
  border: 2px solid var(--light-bg-color-bg-2);
  box-sizing: border-box;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
}
.badgecount6 {
  position: absolute;
  top: 0;
  left: 16px;
  width: 16px;
  height: 16.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.generalmenu-icon7,
.generalnotification-parent4 {
  position: absolute;
  top: 16px;
  width: 32px;
  height: 32px;
}
.generalnotification-parent4 {
  left: 335px;
  text-align: center;
  color: var(--light-bg-color-bg-2);
}
.generalmenu-icon7 {
  left: 16px;
  cursor: pointer;
}
.ai8 {
  color: var(--color-yellowgreen);
}
.text165 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.logo-child5,
.texttext69 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.texttext69 {
  width: 69.7%;
  right: -3.79%;
  left: 34.09%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.logo-child5 {
  width: 30.76%;
  right: 69.24%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.logo8 {
  position: absolute;
  top: 16px;
  left: 58px;
  width: 132px;
  height: 32px;
  font-size: var(--cn-medium-size);
  font-family: var(--en-medium);
}
.generallocation-icon44 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.title103,
.wrap58 {
  flex: 1;
  display: flex;
  align-items: center;
}
.title103 {
  position: relative;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
}
.wrap58 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.directionright-icon61 {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.componentsdropdownmenu-item58 {
  align-self: stretch;
  background-color: var(--light-bg-color-bg-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.dropdown-menu17,
.placeholder20 {
  background-color: var(--light-bg-color-bg-2);
  overflow: hidden;
}
.dropdown-menu17 {
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: var(--br-9xs);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  box-sizing: border-box;
  width: 158px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.placeholder20 {
  width: 0;
  position: relative;
  height: 0;
  flex-shrink: 0;
}
.avatar6 {
  position: absolute;
  top: 0;
  left: 126px;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  background-image: url(./public/avatar@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.account6,
.menu6 {
  position: absolute;
  overflow: hidden;
}
.account6 {
  top: 16px;
  right: 16px;
  width: 158px;
  height: 32px;
  font-size: var(--cn-regular-size);
}
.menu6 {
  top: 0;
  left: 0;
  background-color: var(--light-bg-color-bg-2);
  width: 430px;
  height: 64px;
}
.to-cu-hi12 {
  margin: 0;
}
.text166 {
  position: relative;
  line-height: 44px;
  font-weight: 500;
}
.tipsquestion-circle-icon39 {
  width: 16px;
  position: relative;
  height: 16px;
}
.icon-wrapper86 {
  align-self: stretch;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text167 {
  position: relative;
  line-height: 22px;
}
.texttext70,
.texttitle9 {
  overflow: hidden;
  justify-content: center;
}
.texttext70 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-3);
  font-family: var(--font-pingfang-sc);
}
.texttitle9 {
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.text168 {
  position: relative;
  line-height: 32px;
}
.texttext71 {
  width: 430px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--cn-medium-size);
}
.tipsplus-icon63 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-text63 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.button57,
.button58,
.button59 {
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button57 {
  left: 0;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--light-success-success-6);
  color: var(--light-bg-color-bg-2);
}
.button58,
.button59 {
  background-color: var(--light-success-success-1);
}
.button58 {
  left: 163px;
  border-radius: 0 var(--br-11xs) var(--br-11xs) 0;
}
.button59 {
  left: 101px;
  border-right: 1px solid var(--light-fill-color-fill-3);
}
.vip-icon47,
.vip-icon48 {
  position: absolute;
  top: 5px;
  left: 249px;
  width: 15px;
  height: 12px;
}
.vip-icon48 {
  left: 147px;
}
.mode36 {
  width: 265px;
  position: relative;
  height: 32px;
  font-size: var(--cn-regular-size);
  color: var(--light-success-success-6);
}
.texttitle-parent4 {
  position: absolute;
  top: 84px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-mini);
  font-size: var(--cn-medium1-size);
  color: var(--light-bg-color-bg-2);
}
.header36 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-primary-primary-10);
  width: 430px;
  height: 398px;
  font-size: var(--cn-regular1-size);
  color: var(--light-text-color-text-1);
}
.icon68,
.tipsquestion-circle-icon40 {
  width: 8px;
  position: relative;
  height: 8px;
  display: none;
}
.tipsquestion-circle-icon40 {
  width: 14px;
  height: 14px;
}
.div83 {
  width: 2px;
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  flex-shrink: 0;
}
.label-item30 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-9xs);
  font-family: var(--cn-regular);
}
.addbefore17,
.content16,
.label-item30,
.wrapper34 {
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper34 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.addbefore17,
.content16 {
  align-items: center;
}
.addbefore17 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-right: 1px solid var(--light-fill-color-fill-3);
  display: none;
  padding: 0 var(--padding-xs);
}
.content16 {
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: var(--gap-xs);
}
.spacer93 {
  width: 4px;
  position: relative;
  height: 4px;
}
.spacer92,
.wrapper35 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.spacer92 {
  align-self: stretch;
}
.wrapper35 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-3);
  overflow: hidden;
  padding: var(--padding-8xs) var(--padding-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.wrapper-icon17 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.addafter17,
.input20 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  flex-direction: row;
  align-items: center;
}
.addafter17 {
  border-left: 1px solid var(--light-fill-color-fill-3);
  display: none;
  justify-content: center;
  padding: 0 var(--padding-xs);
}
.input20 {
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  color: var(--light-text-color-text-1);
}
.ignore12 {
  width: 0;
  position: relative;
  height: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.balancer7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.message6 {
  width: 360px;
  position: relative;
  line-height: 20px;
  display: none;
}
.extra6,
.form-item16,
.label-item31 {
  display: flex;
  justify-content: flex-start;
}
.extra6 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--cn-regular1-size);
  color: var(--light-text-color-text-3);
}
.form-item16,
.label-item31 {
  width: 366px;
}
.form-item16 {
  height: 63px;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-pingfang-sc);
}
.label-item31 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.button60 {
  top: 0;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
}
.button60,
.button61,
.button62,
.button63 {
  position: absolute;
  border-radius: var(--br-11xs);
  width: 173px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button61 {
  top: 0;
  left: 193px;
  background-color: var(--light-primary-primary-7);
  color: var(--light-bg-color-bg-2);
}
.button62,
.button63 {
  top: 42px;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
}
.button63 {
  left: 193px;
}
.vip-icon49,
.vip-icon50 {
  position: absolute;
  top: 47px;
  left: 323px;
  width: 15px;
  height: 12px;
}
.vip-icon50 {
  left: 104px;
}
.button-parent4 {
  width: 366px;
  position: relative;
  height: 74px;
}
.form-item26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content17,
.label-item32 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.label-item32 {
  width: 365px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.content17 {
  flex: 1;
  gap: var(--gap-3xs);
}
.content17,
.input21,
.spacer94,
.wrapper37 {
  flex-direction: row;
  justify-content: flex-start;
}
.spacer94 {
  align-self: stretch;
  display: none;
  align-items: center;
}
.input21,
.wrapper37 {
  border-radius: var(--br-11xs);
  display: flex;
}
.wrapper37 {
  flex: 1;
  background-color: var(--light-fill-color-fill-3);
  align-items: center;
  padding: var(--padding-8xs) var(--padding-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.input21 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
  width: 366px;
  height: 868px;
  align-items: flex-start;
}
.input-wrapper4 {
  width: 366px;
  position: relative;
  height: 333px;
  overflow-y: auto;
  flex-shrink: 0;
  text-align: center;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.form-item36 {
  width: 366px;
  height: 363px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div88 {
  width: 8px;
  position: relative;
  height: 8px;
  display: none;
  z-index: 0;
}
.title108 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  z-index: 1;
}
.tipsquestion-circle-icon43 {
  width: 14px;
  position: relative;
  height: 14px;
  display: none;
  z-index: 2;
}
.div89 {
  width: 2px;
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  flex-shrink: 0;
  z-index: 3;
}
.vip-icon51 {
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 100px;
  height: 12px;
  z-index: 4;
}
.body15,
.label-item33 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.label-item33 {
  position: absolute;
  top: calc(50% - 31px);
  left: 0;
  width: 205px;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.body15 {
  flex: 1;
  padding: var(--padding-12xs) 0;
}
.directiondown-icon46 {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper87 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg31,
.select12 {
  border-radius: var(--br-11xs);
  box-sizing: border-box;
}
.select12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
  width: 205px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs);
  gap: var(--gap-9xs);
}
.bg31 {
  width: 14px;
  position: relative;
  background-color: var(--light-bg-color-bg-2);
  border: 2px solid var(--light-fill-color-fill-3);
  height: 14px;
}
.checkbox-input30,
.checkbox30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox30 {
  align-items: center;
  padding: var(--padding-8xs) 0;
  gap: var(--gap-5xs);
}
.checkbox-group-wrapper4,
.checkbox-group6 {
  position: absolute;
  left: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 205px;
}
.checkbox-group6 {
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-9xs) var(--padding-xs);
}
.checkbox-group-wrapper4 {
  top: 37px;
  background-color: var(--light-bg-color-bg-2);
  border: 1px solid var(--light-fill-color-fill-3);
  height: 105px;
  overflow-y: auto;
  color: var(--light-text-color-text-1);
}
.kindofquestion6 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 205px;
  height: 32px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent9 {
  width: 205px;
  position: relative;
  height: 62px;
}
.vip-icon52 {
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 105px;
  height: 12px;
  z-index: 4;
}
.label-item34 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-9xs);
}
.dropdown-menu18,
.label-item34,
.select13 {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 139px;
  display: flex;
  justify-content: flex-start;
}
.select13 {
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-xs);
  gap: var(--gap-9xs);
}
.dropdown-menu18 {
  border-radius: var(--br-9xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9xs) 0;
}
.dropdown-menu-wrapper4,
.number-question6 {
  position: absolute;
  top: 37px;
  left: 0;
  width: 139px;
  height: 152px;
  color: var(--light-text-color-text-1);
}
.number-question6 {
  top: 30px;
  height: 37px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent10 {
  width: 139px;
  position: relative;
  height: 62px;
}
.button64,
.button65,
.form-createqs6,
.to-cu-hi13 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.to-cu-hi13 {
  width: 366px;
  border-radius: var(--br-11xs);
  background-color: var(--light-success-success-6);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
  color: var(--light-bg-color-bg-2);
}
.button64,
.button65,
.form-createqs6 {
  position: absolute;
}
.form-createqs6 {
  top: 286px;
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-);
  width: 398px;
  height: 744px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-base);
  gap: var(--gap-mini);
}
.button64,
.button65 {
  height: 100%;
  top: 0;
  right: 113px;
  bottom: 0;
  border-radius: var(--br-11xs);
  background-color: var(--light-success-success-6);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button65 {
  right: 0;
}
.cng-c3 {
  position: absolute;
  top: 1090px;
  right: 16px;
  width: 288px;
  height: 32px;
  color: var(--light-bg-color-bg-2);
}
.texttext72 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.icon-wrapper89,
.text171 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.text171 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-base);
}
.icon-wrapper89 {
  position: absolute;
  top: 9px;
  left: 9px;
  flex-direction: column;
  justify-content: center;
}
.icon69 {
  align-self: stretch;
  width: 32px;
  position: relative;
  border-radius: 0 var(--br-11xs) var(--br-11xs) 0;
  background-color: var(--light-fill-color-fill-3);
  border-left: 1px solid var(--light-fill-color-fill-3);
  box-sizing: border-box;
}
.dropdown-trigger61,
.wrap64 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-trigger61 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-3);
  width: 398px;
  height: 32px;
  overflow: hidden;
}
.wrap64 {
  flex: 1;
  padding: 0 0 0 var(--padding-5xl);
  gap: var(--gap-5xs);
}
.dropdown-menu19,
.dropdown-trigger-parent1 {
  position: absolute;
  width: 398px;
  overflow: hidden;
}
.dropdown-menu19 {
  top: 42px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  color: var(--light-text-color-text-1);
}
.dropdown-trigger-parent1 {
  top: 1142px;
  left: 16px;
  height: 38px;
}
.button66,
.showtotal3 {
  overflow: hidden;
  justify-content: center;
}
.button66 {
  position: absolute;
  top: 1200px;
  left: 16px;
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-7);
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--light-bg-color-bg-2);
}
.showtotal3 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.componentspagination-prev6 {
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.number25 {
  width: 24px;
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  flex-shrink: 0;
}
.componentspagination-item18,
.componentspagination-item19 {
  border-radius: var(--br-11xs);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs);
}
.componentspagination-item18 {
  background-color: var(--light-primary-primary-1);
  display: flex;
  color: var(--light-primary-primary-6);
}
.componentspagination-item19 {
  display: none;
}
.body17,
.componentspagination-prev7 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.componentspagination-prev7 {
  border-radius: var(--br-11xs);
  display: none;
  padding: var(--padding-5xs);
}
.body17 {
  display: flex;
  padding: var(--padding-12xs) 0;
}
.sizecanchange3,
.wrapper39 {
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  text-align: left;
}
.sizecanchange3 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  gap: var(--gap-9xs);
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.wrapper39 {
  flex: 1;
  overflow: hidden;
  display: flex;
  padding: var(--padding-10xs) var(--padding-xs);
}
.input22,
.jump-wrapper3,
.pagination3,
.wrapper39 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input22 {
  width: 40px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  text-align: center;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.jump-wrapper3,
.pagination3 {
  gap: var(--gap-5xs);
}
.jump-wrapper3 {
  display: none;
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.pagination3 {
  position: absolute;
  top: 12px;
  left: 282px;
  display: flex;
}
.text176 {
  position: relative;
  line-height: 24px;
}
.pagination-parent1,
.texttext74 {
  position: absolute;
  overflow: hidden;
}
.texttext74 {
  top: 14px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--cn-medium2-size);
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.pagination-parent1 {
  width: 92.56%;
  right: 3.72%;
  bottom: 30px;
  left: 3.72%;
  border-radius: var(--br-11xs);
  background-color: var(--light-bg-color-bg-2);
  height: 52px;
  text-align: center;
  font-family: var(--en-medium);
}
.frame7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-primary-primary-1);
  width: 430px;
  height: 4304px;
}
.div92 {
  width: 345px;
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.generalpen-icon29 {
  width: 21px;
  position: relative;
  height: 22px;
  cursor: pointer;
}
.parent27 {
  position: absolute;
  top: 20px;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a29 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  height: 40px;
  flex-shrink: 0;
}
.a29,
.b29 {
  width: 12px;
  display: inline-block;
}
.address29,
.b29,
.c29 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.address29 {
  width: 46px;
  color: var(--light-text-color-text-3);
  text-align: left;
  display: none;
}
.header37 {
  height: 112px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.m-bo-bn2,
.yingdu-building-zhichun29 {
  width: 319px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.yingdu-building-zhichun29 {
  width: 208px;
  display: none;
}
.header-parent27,
.row29 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.row29 {
  width: 319px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: left;
}
.header-parent27 {
  position: absolute;
  top: 74px;
  left: 16px;
  width: 366px;
  flex-direction: row;
  text-align: right;
  font-size: var(--cn-regular1-size);
}
.icon70 {
  align-self: stretch;
  width: 32px;
  position: relative;
  border-radius: 0 var(--br-11xs) var(--br-11xs) 0;
  background-color: var(--light-primary-primary-7);
  border-left: 1px solid var(--light-primary-primary-5);
  box-sizing: border-box;
}
.dropdown-trigger62,
.dropdown-trigger63 {
  width: 168px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dropdown-trigger63 {
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-7);
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
}
.dropdown-trigger62 {
  position: absolute;
  top: 199px;
  left: 16px;
  align-items: flex-start;
  cursor: pointer;
  color: var(--light-bg-color-bg-2);
  font-family: var(--cn-regular);
}
.switch-dotdefault-child27 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--light-bg-color-bg-2);
}
.spacer99 {
  width: 8px;
  position: relative;
  height: 8px;
}
.icon71 {
  flex-direction: row;
  justify-content: flex-start;
}
.icon71,
.switch30,
.text179 {
  display: flex;
  align-items: center;
}
.switch30 {
  border-radius: var(--br-5xl);
  background-color: var(--light-fill-color-fill-4);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-9xs) var(--padding-9xs);
  gap: var(--gap-7xs);
  z-index: 0;
}
.text179 {
  width: 80px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 242px;
  line-height: 22px;
  height: 24px;
  z-index: 1;
}
.delete29,
.question12 {
  width: 398px;
  box-sizing: border-box;
}
.delete29 {
  position: absolute;
  right: 0;
  bottom: 0;
  border-top: 2px solid var(--light-fill-color-fill-3);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  font-family: var(--cn-regular);
}
.question12 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  height: 285px;
}
.a30 {
  width: 12px;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
  flex-shrink: 0;
}
.header-parent28,
.header38 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.header38 {
  height: 95px;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
}
.header-parent28 {
  position: absolute;
  top: 74px;
  left: 16px;
  width: 364px;
  flex-direction: row;
  align-items: flex-start;
  text-align: right;
  font-size: var(--cn-regular1-size);
}
.generalpen-icon30 {
  width: 21px;
  position: relative;
  height: 22px;
}
.dropdown-trigger64 {
  position: absolute;
  bottom: 54px;
  left: 16px;
  width: 168px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-bg-color-bg-2);
  font-family: var(--cn-regular);
}
.question218 {
  width: 398px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  box-sizing: border-box;
  height: 265px;
}
.dropdown-trigger66,
.header-parent29 {
  position: absolute;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-parent29 {
  top: 96px;
  width: 366px;
  height: 95px;
  overflow: hidden;
  gap: var(--gap-8xs);
  text-align: right;
  font-size: var(--cn-regular1-size);
}
.dropdown-trigger66 {
  bottom: 54px;
  width: 167px;
  color: var(--light-bg-color-bg-2);
  font-family: var(--cn-regular);
}
.question33 {
  width: 398px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  box-sizing: border-box;
  height: 287px;
}
.header46 {
  height: 115px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.dropdown-trigger80,
.more-qs3 {
  position: absolute;
  top: 199px;
  left: 16px;
  width: 169px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-bg-color-bg-2);
  font-family: var(--cn-regular);
}
.more-qs3 {
  top: 1252px;
  width: 398px;
  height: 2950px;
  flex-direction: column;
  gap: var(--gap-5xl);
  color: var(--light-text-color-text-1);
  font-family: var(--en-medium);
}
.create-question {
  width: 100%;
  position: relative;
  height: 4304px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-2);
  font-family: var(--cn-regular);
}
