.generalnotification-icon8 {
  position: absolute;
  top: 2.7px;
  left: 0;
  width: 28.4px;
  height: 29.3px;
}
.number32 {
  position: relative;
  line-height: 20px;
}
.badge8 {
  width: 18px;
  border-radius: var(--br-81xl);
  background-color: var(--light-danger-danger-6);
  border: 2px solid var(--light-bg-color-bg-2);
  box-sizing: border-box;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
}
.badgecount8 {
  position: absolute;
  top: 0;
  left: 16px;
  width: 16px;
  height: 16.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.generalmenu-icon9,
.generalnotification-parent6 {
  position: absolute;
  top: 16px;
  width: 32px;
  height: 32px;
}
.generalnotification-parent6 {
  left: 335px;
  text-align: center;
  color: var(--light-bg-color-bg-2);
}
.generalmenu-icon9 {
  left: 16px;
}
.ai10 {
  color: var(--color-yellowgreen);
}
.text212 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.logo-child7,
.texttext88 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.texttext88 {
  width: 69.7%;
  right: -3.79%;
  left: 34.09%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.logo-child7 {
  width: 30.76%;
  right: 69.24%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.logo10 {
  position: absolute;
  top: 16px;
  left: 58px;
  width: 132px;
  height: 32px;
  font-size: var(--cn-medium-size);
  font-family: var(--en-medium);
}
.generallocation-icon58 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.title136,
.wrap75 {
  flex: 1;
  display: flex;
  align-items: center;
}
.title136 {
  position: relative;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
}
.wrap75 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.directionright-icon79 {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.componentsdropdownmenu-item75 {
  align-self: stretch;
  background-color: var(--light-bg-color-bg-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.dropdown-menu22,
.placeholder26 {
  background-color: var(--light-bg-color-bg-2);
  overflow: hidden;
}
.dropdown-menu22 {
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: var(--br-9xs);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  box-sizing: border-box;
  width: 158px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.placeholder26 {
  width: 0;
  position: relative;
  height: 0;
  flex-shrink: 0;
}
.avatar8 {
  position: absolute;
  top: 0;
  left: 126px;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  background-image: url(./public/avatar@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.account8,
.menu8 {
  position: absolute;
  overflow: hidden;
}
.account8 {
  top: 16px;
  right: 16px;
  width: 158px;
  height: 32px;
  font-size: var(--cn-regular-size);
}
.menu8 {
  top: 0;
  left: 0;
  background-color: var(--light-bg-color-bg-2);
  width: 430px;
  height: 64px;
}
.to-cu-hi16 {
  margin: 0;
}
.text213 {
  position: relative;
  line-height: 44px;
  font-weight: 500;
}
.tipsquestion-circle-icon51 {
  width: 16px;
  position: relative;
  height: 16px;
}
.icon-wrapper115 {
  align-self: stretch;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text214 {
  position: relative;
  line-height: 22px;
}
.texttext89,
.texttitle11 {
  overflow: hidden;
  justify-content: center;
}
.texttext89 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-3);
  font-family: var(--font-pingfang-sc);
}
.texttitle11 {
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.text215 {
  position: relative;
  line-height: 32px;
}
.texttext90 {
  width: 430px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--cn-medium-size);
}
.tipsplus-icon82 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-text82 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.button74,
.button75,
.button76 {
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button74 {
  left: 0;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--light-success-success-6);
  color: var(--light-bg-color-bg-2);
}
.button75,
.button76 {
  background-color: var(--light-success-success-1);
}
.button75 {
  left: 163px;
  border-radius: 0 var(--br-11xs) var(--br-11xs) 0;
}
.button76 {
  left: 101px;
  border-right: 1px solid var(--light-fill-color-fill-3);
}
.vip-icon62,
.vip-icon63 {
  position: absolute;
  top: 5px;
  left: 249px;
  width: 15px;
  height: 12px;
}
.vip-icon63 {
  left: 147px;
}
.mode38 {
  width: 265px;
  position: relative;
  height: 32px;
  font-size: var(--cn-regular-size);
  color: var(--light-success-success-6);
}
.texttitle-parent6 {
  position: absolute;
  top: 84px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-mini);
  font-size: var(--cn-medium1-size);
  color: var(--light-bg-color-bg-2);
}
.header48 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-primary-primary-10);
  width: 430px;
  height: 398px;
}
.icon92,
.tipsquestion-circle-icon52 {
  width: 8px;
  position: relative;
  height: 8px;
  display: none;
}
.tipsquestion-circle-icon52 {
  width: 14px;
  height: 14px;
}
.div111 {
  width: 2px;
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  flex-shrink: 0;
}
.label-item40 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-9xs);
  font-family: var(--cn-regular);
}
.addbefore21,
.content20,
.label-item40,
.wrapper42 {
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper42 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.addbefore21,
.content20 {
  align-items: center;
}
.addbefore21 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-right: 1px solid var(--light-fill-color-fill-3);
  display: none;
  padding: 0 var(--padding-xs);
}
.content20 {
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: var(--gap-xs);
}
.spacer121 {
  width: 4px;
  position: relative;
  height: 4px;
}
.spacer120,
.wrapper43 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.spacer120 {
  align-self: stretch;
}
.wrapper43 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-3);
  overflow: hidden;
  padding: var(--padding-8xs) var(--padding-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.wrapper-icon21 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.addafter21,
.input25 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addafter21 {
  background-color: var(--light-fill-color-fill-2);
  border-left: 1px solid var(--light-fill-color-fill-3);
  display: none;
  padding: 0 var(--padding-xs);
}
.input25 {
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-3);
  overflow: hidden;
  display: flex;
  text-align: center;
  color: var(--light-text-color-text-1);
}
.ignore16 {
  width: 0;
  position: relative;
  height: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.balancer9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.message8 {
  width: 360px;
  position: relative;
  line-height: 20px;
  display: none;
}
.extra8,
.form-item18,
.label-item41 {
  display: flex;
  justify-content: flex-start;
}
.extra8 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--cn-regular1-size);
  color: var(--light-text-color-text-3);
}
.form-item18,
.label-item41 {
  width: 366px;
}
.form-item18 {
  height: 63px;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-pingfang-sc);
}
.label-item41 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.button77 {
  top: 0;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
}
.button77,
.button78,
.button79,
.button80 {
  position: absolute;
  border-radius: var(--br-11xs);
  width: 173px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button78 {
  top: 0;
  left: 193px;
  background-color: var(--light-primary-primary-7);
  color: var(--light-bg-color-bg-2);
}
.button79,
.button80 {
  top: 42px;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
}
.button80 {
  left: 193px;
}
.vip-icon64,
.vip-icon65 {
  position: absolute;
  top: 47px;
  left: 323px;
  width: 15px;
  height: 12px;
}
.vip-icon65 {
  left: 104px;
}
.button-parent6 {
  width: 366px;
  position: relative;
  height: 74px;
}
.form-item28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content21,
.label-item42 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.label-item42 {
  width: 365px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.content21 {
  flex: 1;
  gap: var(--gap-3xs);
}
.content21,
.input26,
.spacer122,
.wrapper45 {
  flex-direction: row;
  justify-content: flex-start;
}
.spacer122 {
  align-self: stretch;
  display: none;
  align-items: center;
}
.input26,
.wrapper45 {
  border-radius: var(--br-11xs);
  display: flex;
}
.wrapper45 {
  flex: 1;
  background-color: var(--light-fill-color-fill-3);
  align-items: center;
  padding: var(--padding-8xs) var(--padding-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.input26 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
  width: 366px;
  height: 868px;
  align-items: flex-start;
}
.input-wrapper5 {
  width: 366px;
  position: relative;
  height: 333px;
  overflow-y: auto;
  flex-shrink: 0;
  text-align: center;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.form-item38 {
  width: 366px;
  height: 363px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div116 {
  width: 8px;
  position: relative;
  height: 8px;
  display: none;
  z-index: 0;
}
.title141 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  z-index: 1;
}
.tipsquestion-circle-icon55 {
  width: 14px;
  position: relative;
  height: 14px;
  display: none;
  z-index: 2;
}
.div117 {
  width: 2px;
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  flex-shrink: 0;
  z-index: 3;
}
.vip-icon66 {
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 100px;
  height: 12px;
  z-index: 4;
}
.body21,
.label-item43 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.label-item43 {
  position: absolute;
  top: calc(50% - 31px);
  left: 0;
  width: 205px;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.body21 {
  flex: 1;
  padding: var(--padding-12xs) 0;
}
.directiondown-icon63 {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper116 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg41,
.select17 {
  border-radius: var(--br-11xs);
  box-sizing: border-box;
}
.select17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-fill-color-fill-2);
  width: 205px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs);
  gap: var(--gap-9xs);
}
.bg41 {
  width: 14px;
  position: relative;
  background-color: var(--light-bg-color-bg-2);
  border: 2px solid var(--light-fill-color-fill-3);
  height: 14px;
}
.checkbox-input40,
.checkbox40 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox40 {
  align-items: center;
  padding: var(--padding-8xs) 0;
  gap: var(--gap-5xs);
}
.checkbox-group-wrapper6,
.checkbox-group8 {
  position: absolute;
  left: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 205px;
}
.checkbox-group8 {
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-9xs) var(--padding-xs);
}
.checkbox-group-wrapper6 {
  top: 37px;
  background-color: var(--light-bg-color-bg-2);
  border: 1px solid var(--light-fill-color-fill-3);
  height: 105px;
  overflow-y: auto;
  color: var(--light-text-color-text-1);
}
.kindofquestion8 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 205px;
  height: 32px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent13 {
  width: 205px;
  position: relative;
  height: 62px;
}
.vip-icon67 {
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 105px;
  height: 12px;
  z-index: 4;
}
.label-item44 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-9xs);
}
.dropdown-menu23,
.label-item44,
.select18 {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 139px;
  display: flex;
  justify-content: flex-start;
}
.select18 {
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-xs);
  gap: var(--gap-9xs);
}
.dropdown-menu23 {
  border-radius: var(--br-9xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-fill-color-fill-3);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9xs) 0;
}
.dropdown-menu-wrapper6,
.number-question8 {
  position: absolute;
  top: 37px;
  left: 0;
  width: 139px;
  height: 152px;
  color: var(--light-text-color-text-1);
}
.number-question8 {
  top: 30px;
  height: 37px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent14 {
  width: 139px;
  position: relative;
  height: 62px;
}
.form-createqs7,
.to-cu-hi17 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.to-cu-hi17 {
  width: 366px;
  border-radius: var(--br-11xs);
  background-color: var(--light-success-success-6);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
  color: var(--light-bg-color-bg-2);
}
.form-createqs7 {
  position: absolute;
  top: 286px;
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--light-bg-color-bg-2);
  box-shadow: var(--shadow-);
  width: 398px;
  height: 744px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-base);
  gap: var(--gap-mini);
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-2);
}
.frame9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-primary-primary-1);
  width: 430px;
  height: 1060px;
}
.home {
  width: 100%;
  position: relative;
  height: 1060px;
  text-align: left;
  font-size: var(--cn-regular1-size);
  color: var(--light-text-color-text-1);
  font-family: var(--cn-regular);
}
